# top-most EditorConfig file
root = true

# apply to every file
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# trailing white space is important in markdown
[*.{md,markdown}]
trim_trailing_whitespace = false

# avoid reformatting
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
